<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center" style="background-color: rgb(244, 246, 235); border-radius: 15px;">
      <!-- <h1><i class="fab fa-node-js fa-3x"></i></h1> -->
      <div class="logo-parent welcome" >
        <img src="./img/peak.svg" alt="circle" class="img1 welcome-img1 " />
      </div>
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2" style=" background-color: rgb(106, 181, 65); border-color: rgb(106, 181, 65); border-radius: 15px;">Register</a>
      <a href="/users/login" class="btn btn-secondary btn-block" style=" background-color: rgb(177, 237, 145); border-radius: 15px;">Login</a>
    </div>
  </div>
</div>